.papel {
    width: 100%;
    height: 200px;
}

.green-color {
    color: green;
}

.red-color {
    color: red;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    
}
.white-text {
    color: white;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.altar-img {
    width: 80%;
    height: auto;
    
}


.profile-pic {
    width: 40%;
    height: auto;
    border: 3px solid #b39ddb;
}

.altar-level {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%; /* Ensure flex container takes full width */
}

.level-0 {
    min-height: 100vh;
}

.visible {
    opacity: 1;
}

.line {
    background-color: #5897c3;
    height: auto;
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.line-separation{
    height: 8%;
    width: 100%;
}

.flor {
    width: 50%;
    height: 100%;
}

.imgs{
    width: 20%;
    height: auto;
}

.hidden {
    display: none;
}

.text-google {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: x-large;
    font-style: normal;
    color: gray;
    font-variation-settings: "wdth" 100;
    text-align: justify;
    text-justify: inter-word;
}
.content-1 {
    padding: 20px;
}

.key-words {
    color: #000;
}

.reference {
    color: #d63384;
    text-decoration: none;
}

.logos {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.hobbies {
    display: inline-block;
    animation: wave 1s ease-in-out infinite;
    transform-origin: 70% 70%;
    font-size: 3rem;
}

.cursor {
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .line {
        margin-top: 10px;
        height: 3px;
        width: 100%;
    }
    .text-google {
        font-size: medium;
    }
}