.fixed-footer {
    position: fixed; /* Fija la posición relativa a la ventana del navegador */
    bottom: 0; /* Alinea en la parte inferior */
    left: 0; /* Alinea a la izquierda */
    width: 100%; /* Asegura que se extienda a lo ancho de la pantalla */
    background: #FFF; /* Color de fondo, cambialo según tu diseño */
    text-align: center; /* Centra el texto dentro del footer */
    z-index: 1000; /* Asegura que el footer esté sobre otros elementos */
    padding: 10px;
    margin-bottom: -5px;
}

.name {
    color : #760bde;
}